/*
  body {
	background-image: url('images/cityTX.jpg');
	background-repeat:no-repeat;
	position: absolute;
	
} */

.banner, h1 {
	font-family: Playbill;
	text-align: center;
	font-size: 200px;
	opacity: 0.6;
	
}

 h2, h3 {
		color:#DAA520;
		font-family: Playbill;
		font-size: 30px;
		
}

html{
	background-color: grey;
}


p {
	color: white;
	font-family: Baskerville Old Face;
}

.design-selection, .design-archives, .zen-resources {
	border-width: 1px 4px 12px 4px;
	border-style: double;
	margin: 15px;

}


